In [3]:
dico = {'zz':11,'bb':12}
sorted(dico.items())

[('bb', 12), ('zz', 11)]

sorting list

In [16]:
my_list=[9,8,7,6,5,4]

def find_smallest_int(arr):
    arr.sort(reverse = False)
    return arr[0]

In [17]:
find_smallest_int(my_list)

4

In [1]:
import pandas as pd
values = [6, 2, 9, 1, 4, 8, 3, 5, 7]
float_values =[]

for _ in values:
    j = float(_)
    float_values.append(j)

series = pd.Series(float_values)
type(float_values[2])

float

In this practice problem, we give you a Series object and your goal is to create an ndarray containing the same values.

Remember, we can get an ndarray with the values of a Series by accessing the Series.values attribute.

In [12]:
from numpy import ndarray
import pandas as pd
from sqlalchemy import column
series = pd.Series([6, 2, 9, 1, 4, 8, 3, 5, 7])
array = series.values
type(array)
print(array)
print(series)

[6 2 9 1 4 8 3 5 7]
0    6
1    2
2    9
3    1
4    4
5    8
6    3
7    5
8    7
dtype: int64

In [16]:
#In this practice problem, we give you a Series object and your goal is to access its index and assign it to a variable.
#We can get the index of a Series object accessing the Series.index attribute.

import pandas as pd
series = pd.Series([6, 2, 9, 1, 4, 8, 3, 5, 7])
index = series.index
index

0

In this practice problem, we give you a Series object. Your goal is to use slicing to extract the values highlighted in the following image:

Target

In [19]:
import pandas as pd
series = pd.Series([6, 2, 9, 1, 4, 8, 3, 5, 7])

my_slice = series[1:-1]
my_slice

1    2
2    9
3    1
4    4
5    8
6    3
7    5
dtype: int64

In [25]:
import pandas as pd
series = pd.Series([6, 2, 9, 1, 4, 8, 3, 5, 7])

my_slice = series[1:-1:2]
my_slice

1    2
3    1
5    8
7    5
dtype: int64

In [27]:
import pandas as pd
series = pd.Series([6, 2, 9, 1, 4, 8, 3, 5, 7])

my_slice = series[-4::1]
my_slice

5    8
6    3
7    5
8    7
dtype: int64

In [31]:
import pandas as pd
series = pd.Series([6, 2, 9, 1, 4, 8, 3, 5, 7])
my_slice = series[0:5:2]
my_slice

0    6
2    9
4    4
dtype: int64

In [49]:
import pandas as pd
series = pd.Series([6, 2, 9, 1, 4, 8, 3, 5, 7])
my_slice = series[3:-1:2]
my_slice

3    1
5    8
7    5
dtype: int64

In [ ]:
#In this practice problem, we want you to create a series object with values [4, 6, 1, 7]. The index should be ['data', 'quest', 'is', 'fun'].

In [53]:
 
index_list = ['data', 'quest', 'is', 'fun']

my_serie = pd.Series(values_list)
my_serie.index = index_list
my_serie

data     4
quest    6
is       1
fun      7
dtype: int64

In [54]:
import pandas as pd
series = pd.Series([28, 9, 82, 38, 44, 55, 23, 7, 64, 59, 5, 76, 12, 89, 50, 25, 33, 45, 93, 60, 72, 21, 89, 86, 26])
index = len(series)